@import "@fontsource/firago";

body {
  margin: 30px 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "FiraGO", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  gap: 40px;
}

.header-buttons button {
  border-radius: 5px;
  min-width: 225px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  transition: 500ms;
}

.add-usr {
  border: 1px solid #8338ec;
  color: #212529;
  background-color: white;
}

.add-usr:hover {
  border: 1px solid #b588f4;
}

.add-task {
  display: flex;
  color: white;
  background-color: #8338ec;
  border: none;
  gap: 4px;
}

.add-task:hover {
  background-color: #b588f4;
}

.filter {
  display: flex;
  border: 1px solid #dee2e6;
  width: max-content;
  border-radius: 10px;
  gap: 75px;
}

.dropdown-btn {
  border: none;
  background-color: white;
  padding: 5px 18px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px;
  border: 1px solid #f7bc30;
  border-radius: 15px;
}

.first {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.starting .first {
  background-color: #f7bc30;
}

.in-progress .first {
  background-color: #fb5607;
}

.testing-ready .first {
  background-color: #ff006e;
}

.finished .first {
  background-color: #3a86ff;
}

.top {
  display: flex;
  justify-content: space-between;
}

.cont {
  display: flex;
  gap: 10px;
}

.priority {
  display: flex;
  border-radius: 4px;
  gap: 4px;
}

.text {
  font-weight: 500;
  font-size: 12px;
}

.department {
  padding: 5px 9px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.time {
  font-size: 12px;
  font-weight: 400;
  color: #212529;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
  margin-left: 15px;
}

.middle-first {
  font-size: 15px;
  font-weight: bold;
  color: #212529;
}

.middle-second {
  color: #343a40;
  font-weight: 400;
  font-size: 14px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.photo {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  object-fit: cover;
  object-position: top;
}

.comment-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.comment {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
}

.modal-dialog {
  max-width: 913px;
}

.modal-content {
  padding: 40px 50px 60px 50px;
}

.modal-title {
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: center;
}

.main-cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.top-form {
  display: flex;
  gap: 45px;
}

.both {
  display: flex;
  flex-direction: column;
}

.inp {
  border-radius: 6px;
  border: 1px solid #ced4da;
  padding: 10px;
  min-width: 380px;
}

.user-label {
  font-weight: 1000;
}

.validate {
  width: 10.67px;
  height: 7.33px;
  top: 4px;
  left: 2.67px;
  border: 2px solid #6c757d;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  margin-bottom: 4px;
}

.validation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.validate-text {
  color: #6c757d;
  font-weight: 350;
  font-size: 15px;
}

.correct-text {
  color: #08a508;
}

.correct-mark {
  border: 2px solid #08a508;
  border-top: none;
  border-right: none;
}

.incorrect-text {
  color: #fa4d4d;
}

.incorrect-mark {
  border: 2px solid #fa4d4d;
  border-top: none;
  border-right: none;
}

.incorrect-input {
  border: 1px solid #fa4d4d;
}

.disabled {
  background-color: #b588f4;
}

.correct-input {
  border: 1px solid #08a508;
}

.mid-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  border: 1px dashed #ced4da;
  border-radius: 8px;
}

.modal-img-cont {
  position: relative;
}

.trash {
  width: 24px;
  border: 0.3px solid #6c757d;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  cursor: pointer;
}

.upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#image-input {
  position: absolute;
  scale: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image-input-container {
  cursor: pointer;
}

.bot-form {
  display: flex;
  flex-direction: column;
  max-width: 384px;
}

.form-select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.modal-btn {
  border-radius: 5px;
  padding: 10px 16px;
  transition: 500ms;
}

.modal-footer .add-task {
  padding: 10px 20px;
}

.new-task {
  border: 0.3px solid #ddd2ff;
  border-radius: 4px;
}

.add-task-container {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.header,
.description,
.deadline {
  display: flex;
  flex-direction: column;
}

.description textarea {
  width: 550px;
  height: 133px;
}

.footer {
  display: flex;
  gap: 32px;
}

.form-group {
  display: flex;
  gap: 161px;
}

.department-employee {
  display: flex;
  flex-direction: column;
  gap: 105px;
}

.department-employee div {
  display: flex;
  flex-direction: column;
  min-width: 550px;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 179px;
}

select {
  min-height: 45.6px;
}
