@font-face {
  font-family: "FiraGO";
  src: url("../fonts/firago_5.2.5/ttf/firago-latin-300-normal.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/firago_5.2.5/ttf/firago-latin-400-normal.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 30px 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "FiraGO", sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  gap: 40px;
}

.header-buttons button {
  border-radius: 5px;
  min-width: 225px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  transition: 500ms;
}

.add-usr {
  border: 1px solid #8338ec;
  color: #212529;
  background-color: white;
}

.add-usr:hover {
  border: 1px solid #b588f4;
}

.add-task {
  display: flex;
  color: white;
  background-color: #8338ec;
  border: none;
  gap: 4px;
}

.add-task:hover {
  background-color: #b588f4;
}

.filter {
  display: flex;
  border: 1px solid #dee2e6;
  width: max-content;
  border-radius: 10px;
  gap: 75px;
}

.dropdown-btn {
  border: none;
  background-color: white;
  padding: 5px 18px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}

.index-main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 381px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px;
  border: 1px solid #f7bc30;
  border-radius: 15px;
  min-height: 233.1px;
  justify-content: space-around;
  padding: 20px;
}

.first {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.starting .first {
  background-color: #f7bc30;
}

.in-progress .first {
  background-color: #fb5607;
}

.testing-ready .first {
  background-color: #ff006e;
}

.finished .first {
  background-color: #3a86ff;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont {
  display: flex;
  gap: 10px;
}

.priority {
  display: flex;
  border-radius: 4px;
  gap: 4px;
  border: 0.5px solid orange;
  padding: 4px;
  min-width: 80.79px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  color: orange;
}

.department {
  text-align: center;
  width: 80.79px;
  padding: 5px 9px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  background-color: rgb(228, 105, 125);
}

.time {
  font-size: 12px;
  font-weight: 400;
  color: #212529;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
  margin-left: 15px;
}

.middle-first {
  font-size: 15px;
  font-weight: bold;
  color: #212529;
}

.middle-second {
  color: #343a40;
  font-weight: 400;
  font-size: 14px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.photo {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  object-fit: cover;
  object-position: top;
}

.comment-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.comment {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
}

.modal-dialog {
  max-width: 913px;
}

.modal-content {
  padding: 40px 50px 60px 50px;
}

.modal-title {
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: center;
}

.main-cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.top-form {
  display: flex;
  gap: 45px;
}

.both {
  display: flex;
  flex-direction: column;
}

.inp {
  border-radius: 6px;
  border: 1px solid #ced4da;
  padding: 10px;
  min-width: 380px;
}

.user-label {
  font-weight: 600;
}

.validate {
  width: 8.67px;
  height: 5.33px;
  top: 4px;
  left: 2.67px;
  border: 2px solid #6c757d;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  margin-bottom: 4px;
}

.validation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.validate-text {
  color: #6c757d;
  font-weight: 350;
  font-size: 10px;
}

.correct-text {
  color: #08a508;
}

.correct-mark {
  border: 2px solid #08a508;
  border-top: none;
  border-right: none;
}

.incorrect-text {
  color: #fa4d4d;
}

.incorrect-mark {
  border: 2px solid #fa4d4d;
  border-top: none;
  border-right: none;
}

.incorrect-input {
  border: 1px solid #fa4d4d;
}

.disabled {
  background-color: #b588f4;
}

.correct-input {
  border: 1px solid #08a508;
}

.mid-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  border: 1px dashed #ced4da;
  border-radius: 8px;
}

.modal-img-cont {
  position: relative;
}

.trash {
  width: 24px;
  border: 0.3px solid #6c757d;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  cursor: pointer;
}

.upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#image-input {
  position: absolute;
  scale: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image-input-container {
  cursor: pointer;
}

.bot-form {
  display: flex;
  flex-direction: column;
  max-width: 384px;
}

.form-select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.modal-btn {
  border-radius: 5px;
  padding: 10px 16px;
  transition: 500ms;
}

.modal-footer .add-task {
  padding: 10px 20px;
}

.new-task {
  border: 0.3px solid #ddd2ff;
  border-radius: 4px;
}

.add-task-container {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.header,
.description,
.deadline {
  display: flex;
  flex-direction: column;
}

.description textarea {
  width: 550px;
  height: 133px;
}

.footer {
  display: flex;
  gap: 32px;
}

.form-group {
  display: flex;
  gap: 161px;
}

.department-employee {
  display: flex;
  flex-direction: column;
  gap: 91px;
}

.dep-emp-div {
  display: flex;
  flex-direction: column;
  min-width: 550px;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 165px;
}

select {
  min-height: 45.6px;
}

.new-task-pg {
  display: flex;
  flex-direction: column;
  gap: 145px;
  width: max-content;
  padding: 65px 0 0 55px;
}

.add-task-button {
  display: flex;
  justify-content: flex-end;
}

.deadline input[type="date"] {
  max-width: 318px;
}

.sty {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  transition: 500ms;
}

.responsible {
  color: #adb5bd;
}

.select-menu {
  min-width: 550px;
  min-height: 45px;
  position: relative;
}

.option-image {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.option {
  display: flex;
  gap: 6px;
  font-size: 14px;
  align-items: center;
  padding: 8px 10px;
  border: 0.1px solid white;
  transition: 200ms;
  min-width: 550px;
}

.option:hover {
  border: 0.1px solid #adb5bd;
  border-radius: 5px;
}

.add-employee-from-select {
  font-size: 16px;
  color: #8338ec;
}

#add-employee-select:hover {
  border: 0.1px solid white;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 45px;
}

.hidden {
  display: none;
}

.placeholder {
  display: flex;
  gap: 5px;
}

#add-priority,
#add-employee {
  display: flex;
  justify-content: space-between;
}

.task-page {
  display: flex;
  gap: 223px;
  margin-top: 40px;
}

.task-page-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 63px;
  max-width: 715px;
}

.task-page-head {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-page-header {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

#correct-gap {
  gap: 18px;
}

.header2 {
  font-weight: bold;
}

.task-page-description {
  font-weight: 400;
}

.task-page-detail {
  display: flex;
  padding: 10px 0px;
  min-height: 70px;
  align-items: center;
  gap: 70px;
}

.detail-left {
  display: flex;
  gap: 6px;
  min-width: 164px;
}

.status {
  font-weight: 300;
}

.status-select {
  min-width: 259px;
  font-weight: 300;
}

.task-page-details {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.task-page-employee-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.employee-details-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.employee-detail-department {
  font-size: 11px;
  color: #474747;
}

.employee-detail-name {
  font-size: 14px;
}

.employee-detail-container {
  margin-bottom: 20px;
}

.task-page-right {
  display: flex;
  flex-direction: column;
  gap: 66px;
  margin-top: 50px;
  border: 0.3px solid #ddd2ff;
  background-color: #f8f3fea6;
  padding: 40px 45px;
  border-radius: 10px;
}

.comment-count {
  padding: 0px 10px;
  border-radius: 30px;
  color: white;
  background-color: #8338ec;
  max-height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.comments-header {
  display: flex;
  align-items: center;
  gap: 7px;
}

.comment-textarea {
  position: relative;
}

.comment-textarea textarea {
  min-width: 651px;
  min-height: 135px;
  padding: 18px 20px 15px 20px;
  border: 0.3px solid #adb5bd;
  border-radius: 10px;
}

.add-page-comments {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.comment-btn,
.reply-btn {
  padding: 8px 20px;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: 300ms;
}

.respond {
  color: #8338ec;
  display: flex;
  gap: 6px;
  padding: 6px 0px;
  cursor: pointer;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 598px;
}

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-details {
  display: flex;
  gap: 12px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.respond div {
  font-size: 12px;
}

.comment-text {
  font-weight: 400;
}

.comment-cont {
  display: flex;
  flex-direction: column;
}

.reply {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
